<a href="#" class="card">
    <img src="/img/{{player.imgMain}}" alt="image of main character">
    <ul>
        <li><span>pseudo :</span>{{player.pseudo}}</li>
        <li><span>name :</span>{{player.name}}</li>
        <li><span>mail : </span>{{player.email}}</li>
        <li><span>main character : </span>{{player.Characters.main}}</li>
    </ul>
</a>